@font-face {
  font-family: 'Live-Boldly';
  src: url('../fonts/Live-Boldly-Fonts.eot');
  src: url('../fonts/Live-Boldly-Fonts.eot?#iefix') format('embedded-opentype'), url('../fonts/Live-Boldly-Fonts.woff') format('woff'), url('../fonts/Live-Boldly-Fonts.ttf') format('truetype'), url('../fonts/Live-Boldly-Fonts.svg#Live-Boldly-Fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Live-Boldly';
  /*content: attr(data-icon);*/
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphed {
  color: #092a49;
  font-family: 'Live-Boldly';
  float: right;
  font-size: 70px;
  line-height: 1em;
  width: 70px;
}
