/** Layout Options Styles **/
.cmb-type-section_layout_type input {
	display: none;
	text-align: center;
}
.cmb-type-section_layout_type input#default-layout {
	display: inline;
}
.cmb-type-section_layout_type label.box {
	display: block;
	float: left;
	margin: 10px 10px 10px 0;
	text-align: center;
}
.cmb-type-section_layout_type label.box img {
	max-width: 85px;
	border: 3px solid transparent;
	margin-bottom: 5px;
}
.cmb-type-section_layout_type label.box img:hover {
	border: 3px solid #ddd;
}
.cmb-type-section_layout_type label.box.selected img {
	border: 3px solid #ccc;
}

/** Inpost Layout Box */
#page_setion_details_metabox .inside input#default-layout {
	margin-left: 5px;
}
#page_setion_details_metabox .cmb-type-section_layout_type {
	padding-top: 5px;
}

/** Layout Selector, no JS */
.no-js .cmb-type-section_layout_type input,
.ie8 .cmb-type-section_layout_type input {
	display: inline;
}
.no-js .cmb-type-section_layout_type label.box img,
.no-js .cmb-type-section_layout_type label.box img:hover,
.no-js .cmb-type-section_layout_type label.box.selected img,
.ie8 .cmb-type-section_layout_type label.box img,
.ie8 .cmb-type-section_layout_type label.box img:hover,
.ie8 .cmb-type-section_layout_type label.box.selected img {
	border: 3px solid transparent;
}