.page-sections {
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}

.page-sections li {
	background-color: #eee;
	border-radius: 5px;
	list-style: none;
	margin: 0 0 5px;
	padding: 5px 10px;
}

.page-sections li:hover {
	background-color: #def;
}

.controls {
	float: right;
}

.control.order,
.control.remove {
	opacity: 0.3;
}

.control:hover {
	opacity: 1.0;
}