/*
Theme Name: kenton-beshore
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: kenton-beshore
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 kenton-beshore is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* =Colors
-------------------------------------------------------------- */

@dark-blue: #092A49;
@punch-red: #DA4930;
@diet-punch-red: #d75b3b;
@royal-blue: #1b49be;
@teal-blue: #174e6b;
@pastel-blue: #A0C2E1;
@chick-yellow: #fff2c6;
@tang-orange: #f3811a;
@lavender: #DCE3EF;
@dark-lavender: #788BA8;
@light-black: #404040;
/* =Font Families
--------------------------------------------------------------
font-family:"brandon-grotesque";
font-family: "chaparral-pro",sans-serif;
*/



/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	-webkit-font-smoothing: antialiased;
}
body {
	background: #fff;
}
html, body {
	height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body {
	color: #404040;
	font-family:"chaparral-pro",sans-serif;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.5;
}

input,
select,
textarea,
button {
	color: #404040;
	font-family:"brandon-grotesque";
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family:"brandon-grotesque";
	clear: both;
	text-transform: uppercase;
}
h1 {
	font-size: 32px;
	font-size: 3.2rem;
	line-height: 1.0909090909;
}
h2, .comments-link a {
	font-size: 30px;
	font-size: 3.0rem;
	line-height: 1.2;
	margin-bottom: 8px;
	margin-bottom: 0.8rem;
}

.comments-link a {
	color: black;
	font-family:"brandon-grotesque";
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h3 {
	font-size: 30px;
	font-size: 3.0rem;
	line-height: 1.2;
	letter-spacing: 0.3em;
	margin-bottom: 8px;
	margin-bottom: 0.8rem;
}
h4 {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 1.0909090909;
}
h5 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.3333333333;
}
h6 {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #e6e6e6;
	border: none;
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	font-family: "brandon-grotesque";
	text-transform: uppercase;
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	line-height: 1;
	padding: 0.75em 2.5em;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	border: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	font-family: "chaparral-pro",sans-serif;
	width: 100%;
	padding: 0.75em 1em;
}
textarea {
	border: none;
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding: 0.75em 1em;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/* Links */
a {
	color: @royal-blue;
	text-decoration: none;
}
a:visited {}

a:hover,
a:focus,
a:active {}

a.button {
	display: block;
	font-family:"brandon-grotesque";
	max-width: 10em;
	line-height: 1;
	margin-bottom: 1.5em;
	padding: 0.85em 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}
a.underline {
	border-bottom: .2em solid white;
	font-family:"brandon-grotesque";
	letter-spacing: 3px;
	letter-spacing: 0.3rem;
	padding: 0.85em 0;
	text-decoration: none;
	text-transform: uppercase;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	text-align: left;
	width: 100%;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	li {
		float: left;
		position: relative;
	}
}

.main-navigation li a {
	color: white;
	display: block;
	font-family:"brandon-grotesque";
	text-transform: uppercase;
	text-decoration: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.entry-content {
	margin-top: 0;
}
.entry-header, .entry-content, footer.entry-meta, #disqus_thread, .entry-summary, .term-description, #nav-below {
	max-width: 950px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.main-navigation {
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}


.chaparral {
	font-family: "chaparral-pro",sans-serif;
}

#page {
	min-height: 100%;
}

::-webkit-input-placeholder {
	font-family: "brandon-grotesque";
	text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 19- */
	font-family: "brandon-grotesque";
	text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family: "brandon-grotesque";
	text-transform: uppercase;
}
:-ms-input-placeholder {
	font-family: "brandon-grotesque";
	text-transform: uppercase;
}
.error404 #primary {
	margin: 0 auto;
	max-width: 1088px;
	padding: 50px 0 30px;
	padding: 5.0rem 0 3.0rem;
	a.button {
		display: inline;
		padding: 0.85em;
	}

	h2 {
		margin-bottom: 1.2em;
	}
}

#kentons-list-modal {
	color: @dark-blue;
	a {
		color: @dark-blue;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: @punch-red;
		color: white;
	}
	a.button {
		display: inline;
		padding: 0.85em;
	}
	.section-primary {
		float: right;
		margin-left: 2.5%;
		width: 47.5%;
	}
	.section-secondary {
		float: left;
		margin-right: 2.5%;
		width: 47.5%;
	}
	::-webkit-input-placeholder {
		color: @dark-blue;
	}
	:-moz-placeholder { /* Firefox 19- */
		color: @dark-blue;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: @dark-blue;
	}
	:-ms-input-placeholder {
		color: @dark-blue;
	}
}


/* =Color Palettes
----------------------------------------------- */

.error404 #page {
	background-color: @dark-blue;
	color: white;
	a {
		color: white;
	}
	a.button {
		background-color: #DA4930;
	}
	div.best-teaching {
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: #DA4930;
		color: white;
	}
	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	::-webkit-input-placeholder {
		color: @dark-blue;
	}
	:-moz-placeholder { /* Firefox 19- */
		color: @dark-blue;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: @dark-blue;
	}
	:-ms-input-placeholder {
		color: @dark-blue;
	}

}
/* White on Dark Blue */
.section-color-palette--1 {
	background-color: @dark-blue;
	color: white;
	a.button {
		background-color: #DA4930;
		color: white;
	}
	a.best-teaching-link {
		color: @punch-red;
		border-bottom: .2em solid @punch-red;
		display: inline-block;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: #DA4930;
		color: white;
	}
	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	::-webkit-input-placeholder {
		color: @dark-blue;
	}
	:-moz-placeholder { /* Firefox 19- */
		color: @dark-blue;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: @dark-blue;
	}
	:-ms-input-placeholder {
		color: @dark-blue;
	}

}

#section--live-boldly {
	a.button {
		margin: 0 auto;
	}
}

#section--about-kenton-beshore {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: @tang-orange;
		color: white;
	}
}
/* White on Teal Blue */
.section-color-palette--2 {
	background-color: @teal-blue;
	color: white;

	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	a {
		color: @tang-orange;
	}
	a.button {
		color: white;
		background-color: @punch-red;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: @punch-red;
		color: white;
	}
	::-webkit-input-placeholder {
		color: @teal-blue;
	}
	:-moz-placeholder { /* Firefox 19- */
		color: @teal-blue;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: @teal-blue;
	}
	:-ms-input-placeholder {
		color: @teal-blue;
	}
	.subscribe-link {
		color: white;
	}
}

/* White on Tang Orange */
.section-color-palette--3 {
	background-color: @tang-orange;
	color: white;

	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	a {
		color: @diet-punch-red;
	}
	a.button {
		color: @tang-orange;
		background-color: white;
	}
	::-webkit-input-placeholder {
		color: @tang-orange;
	}
	:-moz-placeholder { /* Firefox 19- */
		color: @tang-orange;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: @tang-orange;
	}
	:-ms-input-placeholder {
		color: @tang-orange;
	}
}

/* Teal blue on Chick Yellow */
.section-color-palette--4 {
	background-color: @chick-yellow;
	color: @teal-blue;

	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	a {
		color: @tang-orange;;
	}
	a.button {
		background-color: @teal-blue;
		color: @chick-yellow;
	}
	input[type="text"],
	textarea {
		background-color: @teal-blue;
		color: @chick-yellow;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"]
	{
		background-color: @teal-blue;
		color: @chick-yellow;
	}
	::-webkit-input-placeholder {
		color: @chick-yellow;
	}
	:-moz-placeholder { /* Firefox 19- */
		color: @chick-yellow;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: @chick-yellow;
	}
	:-ms-input-placeholder {
		color: @chick-yellow;
	}
}

/* Dark Blue on White */
.section-color-palette--5 {
	background-color: white;
	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	color: @dark-blue;
	a {
		color: @punch-red;
	}
	a.button {
		background-color: @dark-blue;
		color: white;
	}
	input[type="text"],
	textarea {
		background-color: @dark-blue;
		color: white;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"]
	{
		background-color: @dark-blue;
		color: white;
	}
	::-webkit-input-placeholder {
	   color: white;
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: white;
	}
	::-moz-placeholder { /* Firefox 19+ */
	   color: white;
	}
	:-ms-input-placeholder {
	   color: white;
	}
}

/* Dark Blue on Lavender */
.section-color-palette--6 {
	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	background-color: @lavender;
	color: @dark-blue;
	a {
		color: @tang-orange;;
	}
	a.button {
		color: white;
		background-color: @dark-blue;
	}
	::-webkit-input-placeholder {
		color: @lavender;
	}
	:-moz-placeholder { /* Firefox 19- */
		color: @lavender;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: @lavender;
	}
	:-ms-input-placeholder {
		color: @lavender;
	}
}


/* White on Punch Red */
.section-color-palette--7 {
	background-color: @punch-red;
	color: white;

	.site-logo {
		background: url(/assets/images/kenton-beshore-logo-white.png);
	}
	a {
		color: @tang-orange;
	}
	a.button {
		color: @punch-red;
		background-color: white;
	}
	input[type="text"],
	textarea {
		background-color: white;
		color: @punch-red;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"]
	{
		color: white;
		background-color: @tang-orange;
	}

	::-webkit-input-placeholder {
	   color: @punch-red;
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: @punch-red;
	}
	::-moz-placeholder { /* Firefox 19+ */
	   color: @punch-red;
	}
	:-ms-input-placeholder {
	   color: @punch-red;
	}

}

.error-404 {
	text-align: center;
}
/* =Section Layouts
----------------------------------------------- */

.section-layout--two-column-content-right,
.section-layout--two-column-content-left {
	font-family:"brandon-grotesque";
	padding-bottom: 2.5em;

	p {
		font-size: 0.9em;
	}
	.section-content {
		overflow: auto;
	}
	.section-secondary {
		text-align: center;
		padding-top: 3em;
	}
}

.section-layout--two-column-content-left {
	text-align: left;
}

.section-layout--two-column-content-right {
	text-align: right;
}

p.section-headline {
	font-family:"brandon-grotesque";
	margin-bottom: 0;
	line-height: 1;
	white-space: nowrap;
}

.section {
	.section-title {
		font-size: 90px;
		font-size: 9.0rem;
		margin-bottom: 30px;
		margin-bottom: 3.0rem;
		font-family:"brandon-grotesque";
		text-transform: uppercase;
		.title-primary {
			display: inline-block;
			vertical-align: top;
		}
		.title-secondary {
			display: inline-block;
			font-family:"brandon-grotesque";
			font-size: 36px;
			font-size: 3.6rem;
			line-height: 1.2;
			padding: 10px 0 0 20px;
			padding: 1.0rem 0 0 2.0rem;
			text-align: left;
			vertical-align: top;
		}
	}
}

.featured-image-banner {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 500px;
	height: 50rem;
	margin: 0 auto 20px;
	margin: 0 auto 2.0rem;
	max-width: 1088px;
}

.featured-image {
	margin: 0 auto 20px;
	margin: 0 auto 2.0rem;
	max-width: 950px;
}

.section-layout--church {
	background: @diet-punch-red;
	background-image: url(assets/images/background-church.jpg);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}


.section-layout--watch-kentons-latest {
	.section-primary {
		max-width: 640px;
		margin: 0 auto;
	}
	.video {
		text-align: center;
		margin-bottom: 30px;
		margin-bottom: 3.0rem;
	}
	.subscribe-link-group {
		text-align: center;
		p {
			margin-bottom: 0.5em;
		}
		.subscribe-link {
			color: @teal-blue;
			padding: 0 10px;
			padding: 0 1.0rem;
		}
	}
}

.section-content {
	margin: 0 auto;
	max-width: 1088px;
	padding: 50px 0 30px;
	padding: 5.0rem 0 3.0rem;
}

.section--0 .section-content {
	padding-top: 0;
}

@media screen and (max-width:1110px) {
	.section-content {
		margin-left: 60px;
		margin-left: 6.0rem;
		margin-right: 60px;
		margin-right: 6.0rem;
	}
}

h1 {
	line-height: 1;
}

.section-title--with-subtitle::before {
	display: block;
	content: attr(data-title);
	font-family:"brandon-grotesque";
	font-size: 2.5em;
	line-height: .8;
	position: absolute;
	left: 0;
}

.section-title--with-subtitle {
	font-size: 2em;
	font-family:"brandon-grotesque";
	letter-spacing: 0;
	padding-left: 10.5em;
	position: relative;
}

.section-title-wrap {
	text-align: center;
}

.section-layout--latest-tweets {
	h1.section-title {
		font-size: 30px;
		font-size: 3.0rem;
		text-align: center;
	}
	.section-content {
		padding-top: 2.5em;
	}
	.section-primary {
		overflow: auto;
	}
	.twitter-link {
		text-align: center;
	}
	.tweet {
		float: left;
		width: 40%;
		margin: 40px 5%;
		margin: 4.0rem 5%;
		text-align: center;

		.tweet-content, .tweet-date {
			font-family: "chaparral-pro",sans-serif;
		}
	}
}

.section-layout--today {
	.section-header {
		background-color: @dark-lavender;
		color: black;
		font-family:"brandon-grotesque";
		font-size: 30px;
		font-size: 3rem;
		padding: 15px;
		padding: 1.5rem;
		text-align: center;
	}
	.iphone-outer {
		background-color: @dark-blue;
		-webkit-border-radius: 60px 60px 0 0;
		-moz-border-radius: 60px 60px 0 0;
		border-radius: 60px 60px 0 0;
		margin: 0 auto;
		padding: 130px 30px 0;
		text-align: center;
		width: 350px;
	}
	.iphone-inner {
		background-color: @lavender;
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		padding: 30px;
		width: 290px;
		p {
			font-family:"brandon-grotesque";
			line-height: 1.2em;
			padding: 0.5em 10%;
			position: relative;
			text-align: left;
			width: 70%;
		}
		p:nth-child(odd) {
			background-color: white;
			margin-right: 10%;
		}
		p:nth-child(odd):after {
			position: absolute;
			bottom: -10px;
			left: 0;
			border-bottom: 8px solid transparent;
			border-top: 8px solid white;
			border-left: 8px solid white;
			border-right: 8px solid transparent;
			content: "";
			z-index: 1000;
		}
		p:nth-child(even) {
			background-color: @pastel-blue;
			margin-left: 10%;
		}
		p:nth-child(even):after {
			position: absolute;
			bottom: -10px;
			right: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid @pastel-blue;
			border-top: 8px solid @pastel-blue;
			border-bottom: 8px solid transparent;
			content: "";
			z-index: 1000;
		}
	}
}

.site-footer {
	font-family:"brandon-grotesque";
	font-size: .75em;
	letter-spacing: .3em;
	padding: 5em 0;
	text-align: center;
	text-transform: uppercase;
	.container {
		margin: 0 auto;
		width: 90%;
	}
	.primary {
		float: left;
		img {
			max-width: 287px;
		}
	}
	.secondary {
		float: right;
		.contact-info {
			float: left;
			margin: 0.25em 0.75em 0 0;
			text-align: right;
		}
		.social-media-links {
			font-family: 'Live-Boldly';
			font-size: 50px;
			font-size: 5.0rem;
			float: right;
			line-height: 1;
			a {
				color: white;
				display: inline-block;
				height: 50px;
				width: 50px;
			}
		}

	}
}

.site-header {
	max-width: 1088px;
	margin: 0 auto;
	padding: 2em 0 1em 1em;
	position: relative;

	.site-logo {
		float: left;
		max-width: 301px;
		text-align: center;
	}
}

h1.entry-title a {
	color: black;
}

ul.gform_fields {
	list-style: none;
	margin: 0;
}

.gform_wrapper {
	.gfield_label {
		display: none;
	}
	.ginput_complex label {
		display: none;
	}
	.ginput_card_security_code_icon {
		display: none;

	}
}

.ginput_container span {
	display: block;
	margin-bottom: 1.5em;
}
.ginput_card_expiration_container {
	text-align: center;
}
.ginput_card_expiration_container select {
	margin: 0 1em;
}
.ginput_left {
	display: block;
	float: left;
	width: 47%;
	margin-right: 3%;
}
.ginput_right {
	display: block;
	float: left;
	width: 47%;
	margin-left: 3%;
}

.gfield {
	margin-bottom: 1.5em;
}


.gform_wrapper .gform_card_icon_container {
	margin: 8px 0 6px 0;
	height: 32px;
}

.gform_wrapper div.gform_card_icon {
	margin-right: 4px;
	text-indent: -9000px;
	background-image: url(../../plugins/gravityforms/images/gf-creditcard-icons.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 32px;
	float: left;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
	background-position: 0 -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
	background-position: 0 -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
	background-position: -36px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
	background-position: -36px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
	background-position: -72px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
	background-position: -72px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
	background-position: -108px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
	background-position: -108px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_maestro {
	background-position: -144px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
	background-position: -144px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
	background-position: -144px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_jcb {
	background-position: -180px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
	background-position: -180px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
	background-position: -180px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
	background-position: 0 -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
	background-position: 0 -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
	background-position: -36px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
	background-position: -36px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
	background-position: -72px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
	background-position: -72px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
	background-position: -108px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
	background-position: -108px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_maestro {
	background-position: -144px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
	background-position: -144px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
	background-position: -144px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_jcb {
	background-position: -180px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
	background-position: -180px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
	background-position: -180px -256px;
}


.section-layout--listen-todays-show {
	.subscribe-link-group {
		text-align: center;
		p {
			margin-bottom: 0.5em;
		}
		.subscribe-link {
			padding: 0 10px;
			padding: 0 1.0rem;
		}
	}
	.section-secondary {
		text-align: center;
	}
}

.section-layout--contact {
	table.contact-method-table {

		td.contact-method-icon {
			font-family: 'Live-Boldly';
			font-size: 65px;
			font-size: 6.5rem;
			height: 65px;
			width: 65px;
			vertical-align: middle;
			img {
				max-width: none;
			}
		}
		td.contact-method-details {
			font-family:"brandon-grotesque";
			letter-spacing: 3px;
			letter-spacing: 0.3rem;
			padding: 14px;
			text-transform: uppercase;
			vertical-align: middle;
			a {
				color: white;
			}
		}
	}
}



.back-to-top {
	display: none;
	position: fixed;
	right: .5em;
	top: .5em;
	cursor: pointer;
	z-index: 50;
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.5) !important;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 1.5em;
	padding: .25em 0 .25em .3em;
	line-height: 0;
}

.back-to-top:before {
	content: '\f432';
	font: normal 28px/1 'Genericons';
	font-weight: normal;
	font-style: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	margin-right: .2em;
	position: relative;
	line-height: 1em;
	top: 1px;
}
.archive h1.page-title {
	display: none;
}

.post-type-media-listen #page {
	background-color: @teal-blue;
	color: white;

	.site-header {
		padding-bottom: 72px;
		padding-bottom: 7.2rem;
		.site-logo {
			float: none;
			margin: 0 auto;
		}
	}
	a {
		color: @tang-orange;
	}
	p {
		margin-bottom: 0;
	}
	.main-navigation {
		display: none;
	}
	.site-footer {
		display: none;
	}
	.primary {
		font-family: "brandon-grotesque";
		.subscribe-link-group, .media-series {
			font-family:"chaparral-pro",sans-serif;
		}
	}
	.site-main {
		.primary {
			float: left;
			width: 60%;
			margin-right: 5%;
		}
		.secondary {
			float: right;
			width: 35%;
			text-align: center;
		}
		margin: 0 auto;
		max-width: 767px;
		padding: 26px;
		padding: 2.6rem;
	}
	.subscribe-link-group {
		margin-bottom: 30px;
		margin-bottom: 3.0rem;
		p {
			margin-bottom: 0.5em;
		}
		.subscribe-link {
			color: white;
			padding: 0 10px;
			padding: 0 1.0rem;
		}

	}

}

.about-widget {
	float: left;
	margin: 0 4.1666666666%;
	text-align: center;
	width: 25%;
	.widget-title {
		font-family:"brandon-grotesque";
		letter-spacing: 5px;
		line-height: 3;
		text-transform: uppercase;

	}
}

.quote-widget {
	overflow: auto;
	margin-bottom: 30px;
	margin-bottom: 3.0rem;
	.quote-icon {
		background: url( 'assets/images/quotation-marks.png' );
		background-repeat: no-repeat;
		background-size: 100%;
		height: 150px;
		float: left;
		width: 5%;
	}
	.quote-text {
		float: left;
		width: 85%;
		margin-left: 5%;
	}
	.quote-name {
		font-family:"brandon-grotesque";
		margin-top: 20px;
		margin-top: 2.0rem;
	}
}


.section-layout--about {
	.section-primary, .section-secondary {
		text-align: center;
	}
	.featured-image-banner {
		background: url('assets/images/banner-about.jpg');
		background-attachment: center center;
		background-size: 100% auto;
		background-repeat: no-repeat;
		margin-bottom: 0;
	}
	.social-media-links {
		p {
			margin-bottom: .5em;
		}
		.twitter-link, .facebook-link {
			display: inline-block;
			height: 65px;
			width: 65px;
		}
		.twitter-link {
			background-image: url(assets/images/icon-twitter.png);
		}
		.facebook-link {
			background-image: url(assets/images/icon-facebook.png);
		}
	}
}

ul.gfield_radio {
	margin: 0 0 1em;
	overflow: auto;
	list-style: none;
	li {
		float: left;
		width: 50%;
	}
	label {
		margin-left: 1em;
		text-transform: uppercase;
	}
}


.term-description {
	margin-bottom: 3rem;
	overflow: auto;
	.primary {
		float: left;
		width: 47%;
		margin-right: 3%;
	}
	.secondary {
		float: right;
		width: 47%;
		margin-left: 3%;
	}
}
.tax-media-series {
	.site-main > hr {
		margin: 0 auto 4.5rem;
		max-width: 950px;
	}
}

/**
  /$$      /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$  /$$$$$$
| $$$    /$$$| $$_____/| $$__  $$|_  $$_/ /$$__  $$
| $$$$  /$$$$| $$      | $$  \ $$  | $$  | $$  \ $$
| $$ $$/$$ $$| $$$$$   | $$  | $$  | $$  | $$$$$$$$
| $$  $$$| $$| $$__/   | $$  | $$  | $$  | $$__  $$
| $$\  $ | $$| $$      | $$  | $$  | $$  | $$  | $$
| $$ \/  | $$| $$$$$$$$| $$$$$$$/ /$$$$$$| $$  | $$
|__/     |__/|________/|_______/ |______/|__/  |__/

  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$ /$$$$$$$$  /$$$$$$
 /$$__  $$| $$  | $$| $$_____/| $$__  $$|_  $$_/| $$_____/ /$$__  $$
| $$  \ $$| $$  | $$| $$      | $$  \ $$  | $$  | $$      | $$  \__/
| $$  | $$| $$  | $$| $$$$$   | $$$$$$$/  | $$  | $$$$$   |  $$$$$$
| $$  | $$| $$  | $$| $$__/   | $$__  $$  | $$  | $$__/    \____  $$
| $$/$$ $$| $$  | $$| $$      | $$  \ $$  | $$  | $$       /$$  \ $$
|  $$$$$$/|  $$$$$$/| $$$$$$$$| $$  | $$ /$$$$$$| $$$$$$$$|  $$$$$$/
 \____ $$$ \______/ |________/|__/  |__/|______/|________/ \______/
      \__/
*/
@media screen and ( max-width: 1120px ) {
	header {
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media screen and ( min-width: 1045px ) {
	.main-navigation {
		font-size: 16px;
		font-size: 1.6rem;
		li {
			margin: 0 1.25em;
			padding: 0.2em 0;
		}
	}
	.section-layout--church {
		background-size: 100% auto;
	}
	.site-header {
		padding: 75px 0 128px 16px;
		padding: 7.5rem 0 12.8rem 1.6rem;
		.main-navigation {
			margin-bottom: 128px;
			margin-bottom: 12.8rem;
		}
	}

}

@media screen and ( max-width: 1045px ) {
	.section-layout--church {
		background-size: auto 100%;
	}
}

@media screen and ( max-width: 1065px ) and (min-width: 769px) {
	.main-navigation {
		font-size: 14px;
		font-size: 1.4rem;
		li {
			margin: 0 1.25em;
			padding: 0.2em 0;
		}
	}
}

@media screen and ( min-width: 970px ) {
	nav.main-navigation {
		z-index: 0;
	}
	#nav-close-btn {
		display: none;
	}

	.post-type-archive-media,
	.single-media,
	.tax-media-series,
	.tax-media-category {
		nav.main-navigation {
			li {
				a {
					color: @dark-blue;
				}
			}
			li.current_page_item {
				border-color: @dark-blue;
			}
		}
		p.media-series {
			margin-bottom: 0;
		}
	}
	.site-header {
		padding: 60px 0 128px 16px;
		padding: 6.5rem 0 12.8rem 1.6rem;
		.main-navigation {
			margin-bottom: 141px;
			margin-bottom: 14.1rem;
		}
	}
}
@media screen and ( max-width: 970px ) {
	a#nav-close-btn {
		color: #252525;
		display: block;
		margin: 1em 1.5em;
		line-height: 1;
	}
	header {
		padding-top: 0.65em;
	}
	/*
	using background color is important to cover the menu
	position absolute isset to cover the whole viewport
	*/
	#nav-close-btn:before {
		content: "\f405";
		font: normal 28px/1 'Genericons';
		font-weight: normal;
		font-style: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		margin-right: .2em;
		position: relative;
		line-height: 1em;
		top: 1px;
	}
	#page {
		background-color: white;
	    width: auto;
	}
	/*
	the hamburger button with a little gradient effect
	*/
	.hamburger {
		background-color: rgba(0,0,0,0.1);
		color: #252525;
		width: 2.8rem;
		height: 1.9rem;
	    cursor: pointer;
	    display: block;
	    padding: 1.5rem 1.3rem 2rem;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1;
	}

	.post-type-media-listen .hamburger {
		display: none;
	}

	/*
	The white stripes in the hamburger button
	*/
	.hamburger div {
	    background-color: #fff;
	    border: 1px solid #eee;
	    border-radius: 2px 2px 2px 2px;
	    height: 2px;
	    margin-top: 3px;
	    width: 90%;
	}
	/*
	Style the header navigation menu
	*/
	nav.main-navigation {
		background: #eee;
		float: none;
	    height: 100%;
	    left: 0;
		margin-bottom: 143px;
		margin-bottom: 14.3rem;
	    top: 0;
	    position: fixed;
	    z-index: -1;
	    width: 70%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    overflow-x: hidden;
	    overflow-y: auto;
		ul {
			list-style: none;
			margin: 0;
			width: 100%;
			padding: 0;
		}
		li {
			background-color: white;
			margin: 0;
			padding: 0;
			position: relative;
			float: none;
			a {
				color: #252525;
				border-bottom: 1px solid #EEE;
				padding: .75em 1.5em;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}

	/*
	The Layer that will be layed over the content
	so that the content is unclickable while menu is shown
	*/
	#contentLayer {
	    display: none;
	    height: 100%;
	    overflow-x: hidden;
	    overflow-y: auto;
	    position: fixed;
	    right: 0;
	    top: 0;
	    width: 30%;
	    z-index: 5;
	    min-height: 1062px;
	}

	.site-header {
		padding-right: 1em;
		.site-logo {
			float: none;
			margin: 0 auto;
		}
	}
	.site-footer {
		padding: 2.5em 0;
		.primary {
			float: none;
			margin-bottom: 2em;
			width: 100%;
		}
		.secondary {
			float: none;
			width: 100%;
			.contact-info {
				float: none;
				width: 100%;
				text-align: center;
			}
			.social-media-links {
				float: none;
				margin-top: 0.5em;
				width: 100%;
			}

		}
	}
}

@media screen and ( min-width: 769px ) {
	.section-layout--two-column-content-right {
		.section-primary {
			float: right;
			margin: 0 5%;
			width: 40%;
		}
		.section-secondary {
			float: left;
			margin: 0 10%;
			width: 30%;
		}
	}

	.section-layout--listen-todays-show {
		.section-content {
			overflow: auto;
		}
		.section-primary {
			float: left;
			margin: 0 3% 0 0;
			width: 47%;
		}
		.section-secondary {
			float: right;
			margin: 0 0 0 3%;
			width: 47%;
		}
	}

	.section-layout--two-column-content-left,
	.section-layout--two-col,
	.section-layout--about
	 {
		.section-primary {
			float: left;
			margin: 0;
			width: 50%;
		}
		.section-secondary {
			float: right;
			margin: 0;
			width: 50%;
		}
	}

	.section-layout--contact {
		.section-content {
			overflow: auto;
		}
		.section-primary {
			float: right;
			margin: 0 5%;
			width: 40%;
		}
		.section-secondary {
			float: left;
			margin: 0 5%;
			width: 40%;
		}
	}

	.section-layout--today {
		.section-content {
			padding-bottom: 0;
			overflow: auto;
		}
		.section-primary {
			float: left;
			width: 60%;
		}
		.section-secondary {
			float: right;
			margin: 300px 5% 0;
			width: 30%;
		}
	}

	.section-layout--church {
		.section-content {
			overflow: auto;
		}
		.section-primary {
			float: left;
			width: 50%;
		}
	}

	.site-footer {
		font-family:"brandon-grotesque";
		text-align: center;
		text-transform: uppercase;
		overflow: auto;
	}

	.main-navigation {
		clear: none;
		float: right;
		font-family: "brandon-grotesque", sans-serif;
		letter-spacing: .2em;
		max-width: 786px;
		position: absolute;
		bottom: 0;
		right: 0;
		text-transform: uppercase;
		width: auto;

		li.current_page_item {
			border-bottom: .2em solid white;
		}
		li:last-child {
			padding-right: 0;
		}
	}
	.section-color-palette--5 .main-navigation li.current_page_item {
		border-bottom-color: @dark-blue;
	}
}

@media screen and ( max-width: 768px ) {
	.section {
		.section-title {
			font-size: 72px;
			font-size: 7.2rem;
			.title-secondary {
				font-size: 26px;
				font-size: 2.6rem;
				padding: 5px 0 0 10px;
				padding: 0.5rem 0 0 1.0rem;
			}
		}
	}

	#kentons-list-modal {
		.section-primary {
			float: none;
			margin: 0;
			width: 100%;
		}
		.section-secondary {
			display:none;
		}
	}

	.section-content {
		margin-left: 26px;
		margin-left: 2.6rem;
		margin-right: 26px;
		margin-right: 2.6rem;
	}


	.section-layout--two-column-content-right,
	.section-layout--two-column-content-left,
	.section-layout--listen-todays-show {
		.section-primary {
			float: none;
			margin: 0;
			width: 100%;
		}
		.section-secondary {
			display: none;
		}
	}
	.section-layout--contact,
	.section-layout--about {
		.section-primary, .section-secondary {
			float: none;
			margin: 0;
			width: 100%;
		}
	}
	.about-widget {
		float: left;
		margin: 40px 5%;
		margin: 4.0rem 5%;
		text-align: center;
		width: 40%;
		.widget-title {
			font-family:"brandon-grotesque";
			letter-spacing: 5px;
			line-height: 3;
			text-transform: uppercase;
		}
	}

	.about-widget:nth-child(3) {
		float: none;
		margin: 0 auto;
		clear: both;
	}


	.section-layout--latest-tweets {
		.tweet {
			float: none;
			width: 100%;
			margin: 40px auto;
			margin: 4.0rem auto;
			max-width: 50%;
		}
	}

	.section-layout--today {

		.section-primary {
			float: none;
			width: 100%;
			margin: 0;
		}
		.section-secondary {
			float: none;
			width: 100%;
			margin: 0;
		}
		.iphone-outer {
			background-color: transparent;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			margin: 0;
			padding: 0;
			width: auto;
		}
		.iphone-inner {
			background-color: transparent;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			padding: 0;
			width: auto;
			p {
				font-family:"brandon-grotesque";
				line-height: 1.2em;
				padding: 0.5em 5%;
				position: relative;
				text-align: left;
				width: 45%;
			}
			p:nth-child(odd) {
				background-color: white;
				margin-right: 10%;
			}
			p:nth-child(odd):after {
				position: absolute;
				bottom: -10px;
				left: 0;
				border-bottom: 8px solid transparent;
				border-top: 8px solid white;
				border-left: 8px solid white;
				border-right: 8px solid transparent;
				content: "";
				z-index: 1000;
			}
			p:nth-child(even) {
				background-color: @pastel-blue;
				margin-left: 45%;
			}
			p:nth-child(even):after {
				position: absolute;
				bottom: -10px;
				right: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid @pastel-blue;
				border-top: 8px solid @pastel-blue;
				border-bottom: 8px solid transparent;
				content: "";
				z-index: 1000;
			}
		}
	}
	.section-layout--church {
		.section-primary {
			float: none;
			width: 100%;
		}
	}

	.featured-image-banner {
		height: 400px;
		height: 40rem;
	}

	.term-description {
		.primary, .secondary {
			float: none;
			width: 100%;
			margin-right: 0;
			margin-left: 0;
		}
	}
	.post-type-media-listen #page {
		.site-main {
			.primary {
				float: none;
				width: 100%;
				margin-right: 0;
			}
			.secondary {
				display: none;
			}
		}
		.download-links {
			font-size: 24px;
			font-size: 2.4rem;
		}
		.rss-subscribe-link {
			display: none;
		}
	}
}

@media screen and (max-width:600px) {
	.section {
		.section-title {
			font-size: 60px;
			font-size: 6.0rem;
			.title-secondary {
				font-size: 21px;
				font-size: 2.1rem;
				padding: 5px 0 0 10px;
				padding: 0.5rem 0 0 1.0rem;
			}
		}
	}
	.featured-image-banner {
		height: 300px;
		height: 30rem;
	}
	.site-header {
		padding-top: 5px;
		padding-top: 0.5rem;
		padding-right: 16px;
		padding-right: 1.6rem;
		.site-logo {
			width: 100%;
			max-width: 100%;
			text-align: right;
			img {
				height: 4.7rem;
			}
		}
	}
}

@media screen and ( max-width: 480px ) {
	.section {
		.section-title {
			font-size: 52px;
			font-size: 5.2rem;
			.title-secondary {
				font-size: 19px;
				font-size: 1.9rem;
				padding: 5px 0 0 10px;
				padding: 0.5rem 0 0 1.0rem;
			}
		}
	}
	.section-layout--latest-tweets {
		.tweet {
			max-width: 100%;
		}
	}
	[class*="navigation"] .nav-previous,
	[class*="navigation"] .nav-next {
		float: none;
		width: 100%;
	}
}

.single-media,
.post-type-archive-media,
.tax-media-series,
.tax-media-category {
	h1 {
		letter-spacing: 0.1em;
	}
	a {
		color: @punch-red;
	}
	a.button {
		background-color: @punch-red;
		color: white;
	}
	.featured-image-banner {
		max-width: 950px;
	}
	#main > hr {
		margin: 0 auto 4.5rem;
		max-width: 950px;
	}
}

.page-id-7 .gform_wrapper {
	margin: 0 auto;
	max-width:640px;
}

@font-face {
	font-family: 'Live-Boldly';
	src:url('assets/fonts/Live-Boldly-Fonts.eot');
	src:url('assets/fonts/Live-Boldly-Fonts.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Live-Boldly-Fonts.woff') format('woff'),
		url('assets/fonts/Live-Boldly-Fonts.ttf') format('truetype'),
		url('assets/fonts/Live-Boldly-Fonts.svg#Live-Boldly-Fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Live-Boldly';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-untitled, .icon-untitled-2, .icon-untitled-3, .icon-untitled-4, .icon-untitled-5, .icon-untitled-6, .icon-untitled-7, .icon-untitled-8, .icon-untitled-9, .icon-untitled-10, .icon-untitled-11, .icon-untitled-12, .icon-untitled-13, .icon-untitled-14, .icon-untitled-15, .icon-untitled-16, .icon-untitled-17, .icon-untitled-18, .icon-untitled-19, .icon-untitled-20, .icon-untitled-21, .icon-untitled-22 {
	font-family: 'Live-Boldly';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-untitled:before {
	content: "\61";
}
.icon-untitled-2:before {
	content: "\62";
}
.icon-untitled-3:before {
	content: "\63";
}
.icon-untitled-4:before {
	content: "\64";
}
.icon-untitled-5:before {
	content: "\65";
}
.icon-untitled-6:before {
	content: "\66";
}
.icon-untitled-7:before {
	content: "\67";
}
.icon-untitled-8:before {
	content: "\68";
}
.icon-untitled-9:before {
	content: "\69";
}
.icon-untitled-10:before {
	content: "\6a";
}
.icon-untitled-11:before {
	content: "\6b";
}
.icon-untitled-12:before {
	content: "\6c";
}
.icon-untitled-13:before {
	content: "\6d";
}
.icon-untitled-14:before {
	content: "\6e";
}
.icon-untitled-15:before {
	content: "\6f";
}
.icon-untitled-16:before {
	content: "\70";
}
.icon-untitled-17:before {
	content: "\71";
}
.icon-untitled-18:before {
	content: "\72";
}
.icon-untitled-19:before {
	content: "\73";
}
.icon-untitled-20:before {
	content: "\74";
}
.icon-untitled-21:before {
	content: "\75";
}
.icon-untitled-22:before {
	content: "\76";
}


.tax-media-category,
.post-type-archive-media {
	.page-header {
		padding-bottom: 128px;
		padding-bottom: 12.8rem;
	}
	.term-description .primary {
		color: @dark-blue;
		font-family: 'Live-Boldly';
		font-size: 240px;
		line-height: 1em;
		text-align: center;
	}
	input[type="text"] {
		border: 1px solid @light-black;
	}
	input[type="submit"] {
		background-color: @punch-red;
		color: white;
	}
}


h1.extra-large {
	font-size: 72px;
	font-size: 7.2rem;
	letter-spacing: 0;
}

article.media {
	.entry-header {
		.entry-title {
			clear:none;
		}
		.media-type {
			color: @dark-blue;
			font-family: 'Live-Boldly';
			float: right;
			font-size: 70px;
			line-height: 1em;
			width: 70px;
			a {
				color: @dark-blue;
			}
		}
	}

}

.paging-navigation {

	overflow: auto;
	margin: 64px 0;
	margin: 6.4rem 0;
	a {
		color: @dark-blue;
		font-family: "brandon-grotesque";
		line-height: 1;
		text-transform: uppercase;
		span {
			vertical-align: middle;
		}
		.meta-nav {
			text-transform: none;
			font-family: 'Live-Boldly';
			font-size: 50px;
			line-height: 1;
			vertical-align: middle;
		}
	}
}

.single-media {
	a {
		color: @punch-red;
	}
	.listen-button {
		margin-top: 32px;
		margin-top: 3.2rem;
	}
	.download-links {
		font-family: "brandon-grotesque";
		font-size: 30px;
		font-size: 3.0rem;
		margin-bottom: 32px;
		margin-bottom: 3.2rem;
		line-height: 1.0909090909;
		p {
			margin-bottom: 0;
		}
	}
	.subscribe {
		margin-bottom: 32px;
		.subscribe-link {
			font-family: 'Live-Boldly';
			font-size: 80px;
			line-height: 1em;
		}
	}
	.message-summary,
	.review-and-rate,
	.share-this-podcast,
	.music-for-live-boldly,
	.email-this-podcast {
		margin-bottom: 32px;
		margin-bottom: 3.2rem;
	}
	.review-and-rate {
		background-color: #E9E9E7;
		padding: 20px;
		text-align: center;
		hr {
			background-color: white;
			margin: .5em auto;
			width: 80%;
		}
		p {
			margin-bottom: 0;
		}
	}

	.comments-link a {
		color: @light-black;
	}
	.video {
		max-width: 950px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		margin-bottom: 3.0rem;
		text-align: center;
	}
	input[type="text"] {
		border: 1px solid @light-black;
		max-width: 400px;
	}
	input[type="submit"] {
		background-color: @punch-red;
		color: white;
	}
}

.youtube-subscribe-link,
.vimeo-subscribe-link,
.itunes-subscribe-link,
.stitcher-subscribe-link,
.rss-subscribe-link {
	font-family: 'Live-Boldly';
	font-size: 80px;
	line-height: 1em;
}

.media-category-7 .entry-header {
	margin-bottom: 30px;
	margin-bottom: 3.0rem;
}