/*
Theme Name: Kenton Beshore
Author: Fifty Fifty Development
Author URI: http://itsfiftyfifty.com/
Description: Description
Version: 1.0
Domain Path: /languages/

 kenton-beshore is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/* =Colors
-------------------------------------------------------------- */
/* =Font Families
--------------------------------------------------------------
font-family:"brandon-grotesque";
font-family: "chaparral-pro",sans-serif;
*//* =Patrick Changes ----------------------------------------------- */
ul#outlines {padding-top: 20px;}
ul#outlines li {padding-bottom: 20px;}
div#lent {padding-top: 50px; padding-bottom: 50px;}
div#tell-us {padding-bottom: 20px;}
div#outlines {padding-top: 20px; padding-bottom: 20px;}
#with-kenton {padding-top: 30px; padding-bottom: 30px;}
div.tm-powered-by {display: none;}


/* =Reset
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */

  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */

  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */

  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */

  -webkit-font-smoothing: antialiased;
}
body {
  background: #fff;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */

  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */

  outline: 0;
}
a img {
  border: 0;
}
/* =Global
----------------------------------------------- */
body {
  color: #404040;
  font-family: "chaparral-pro", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
input,
select,
textarea,
button {
  color: #404040;
  font-family: "brandon-grotesque";
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
/* Headings */
h1,
h2,
h3,
h5,
h6 {
  font-family: "brandon-grotesque";
  clear: both;
  text-transform: uppercase;
}
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.0909090909;
}
h2,
.comments-link a {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-bottom: 0.8rem;
}
.comments-link a {
  color: black;
  font-family: "brandon-grotesque";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 1.2;
  letter-spacing: 0.3em;
  margin-bottom: 8px;
  margin-bottom: 0.8rem;
}
h4 {
  font-size: 26px;
  font-size: 2.8rem;
  line-height: 2.063;
  font-weight: bold;
}
h5 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333333333;
}
h6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
/* Text elements */
p {
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */

  max-width: 100%;
  /* Adhere to container width. */

}
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */

  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */

  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */

  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */

}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #e6e6e6;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */

  font-family: "brandon-grotesque";
  text-transform: uppercase;
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */

  line-height: 1;
  padding: 0.75em 2.5em;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */

}
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */

  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */

  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */

  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */

  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  border: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */

  font-family: "chaparral-pro", sans-serif;
  width: 100%;
  padding: 0.75em 1em;
}
textarea {
  border: none;
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */

  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */

  padding: 0.75em 1em;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */

  width: 100%;
}
/* Links */
a {
  color: #1b49be;
  text-decoration: none;
}
a.button {
  display: block;
  font-family: "brandon-grotesque";
  max-width: 10em;
  line-height: 1;
  margin-bottom: 1.5em;
  padding: 0.85em 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
a.underline {
  border-bottom: .2em solid white;
  font-family: "brandon-grotesque";
  letter-spacing: 3px;
  letter-spacing: 0.3rem;
  padding: 0.85em 0;
  text-decoration: none;
  text-transform: uppercase;
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */

}
/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table;
}
.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both;
}
/* =Menu
----------------------------------------------- */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  text-align: left;
  width: 100%;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation li a {
  color: white;
  display: block;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  text-decoration: none;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul {
  display: block;
}
/* Small menu */
.menu-toggle {
  display: none;
  cursor: pointer;
}
/* =Content
----------------------------------------------- */
.hentry {
  margin: 0 0 1.5em;
}
.byline,
.updated {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.entry-content {
  margin-top: 0;
}
.entry-header,
.entry-content,
footer.entry-meta,
#disqus_thread,
.entry-summary,
.term-description,
#nav-below {
  max-width: 950px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
/* =Media
----------------------------------------------- */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.site-main .gallery {
  margin-bottom: 1.5em;
}
.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.site-main .gallery dd {
  margin: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}
/* =Navigation
----------------------------------------------- */
.main-navigation {
  overflow: hidden;
}
[class*="navigation"] .nav-previous {
  float: left;
  width: 50%;
}
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
/* =Comments
----------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}
/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}
/* Search widget */
.widget_search .search-submit {
  display: none;
}
/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */

  display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}
.chaparral {
  font-family: "chaparral-pro", sans-serif;
}
#page {
  min-height: 100%;
}
::-webkit-input-placeholder {
  font-family: "brandon-grotesque";
  text-transform: uppercase;
}
:-moz-placeholder {
  /* Firefox 19- */

  font-family: "brandon-grotesque";
  text-transform: uppercase;
}
::-moz-placeholder {
  /* Firefox 19+ */

  font-family: "brandon-grotesque";
  text-transform: uppercase;
}
:-ms-input-placeholder {
  font-family: "brandon-grotesque";
  text-transform: uppercase;
}
.error404 #primary {
  margin: 0 auto;
  max-width: 1088px;
  padding: 50px 0 30px;
  padding: 5.0rem 0 3.0rem;
}
.error404 #primary a.button {
  display: inline;
  padding: 0.85em;
}
.error404 #primary h2 {
  margin-bottom: 1.2em;
}
#kentons-list-modal {
  color: #092a49;
}
#kentons-list-modal a {
  color: #092a49;
}
#kentons-list-modal button,
#kentons-list-modal input[type="button"],
#kentons-list-modal input[type="reset"],
#kentons-list-modal input[type="submit"] {
  background-color: #da4930;
  color: white;
}
#kentons-list-modal a.button {
  display: inline;
  padding: 0.85em;
}
#kentons-list-modal .section-primary {
  float: right;
  margin-left: 2.5%;
  width: 47.5%;
}
#kentons-list-modal .section-secondary {
  float: left;
  margin-right: 2.5%;
  width: 47.5%;
}
#kentons-list-modal ::-webkit-input-placeholder {
  color: #092a49;
}
#kentons-list-modal :-moz-placeholder {
  /* Firefox 19- */

  color: #092a49;
}
#kentons-list-modal ::-moz-placeholder {
  /* Firefox 19+ */

  color: #092a49;
}
#kentons-list-modal :-ms-input-placeholder {
  color: #092a49;
}
/* =Color Palettes
----------------------------------------------- */
.error404 #page {
  background-color: #092a49;
  color: white;
}
.error404 #page a {
  color: white;
}
.error404 #page a.button {
  background-color: #DA4930;
}
.error404 #page button,
.error404 #page input[type="button"],
.error404 #page input[type="reset"],
.error404 #page input[type="submit"] {
  background-color: #DA4930;
  color: white;
}
.error404 #page .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.error404 #page ::-webkit-input-placeholder {
  color: #092a49;
}
.error404 #page :-moz-placeholder {
  /* Firefox 19- */

  color: #092a49;
}
.error404 #page ::-moz-placeholder {
  /* Firefox 19+ */

  color: #092a49;
}
.error404 #page :-ms-input-placeholder {
  color: #092a49;
}
/* White on Dark Blue */
.section-color-palette--1 {
  background-color: #092a49;
  color: white;
}
.section-color-palette--1 a.button {
  background-color: #DA4930;
  color: white;
}
.section-color-palette--1 a.best-teaching-link {
  color: #da4930;
  border-bottom: 0.2em solid #da4930;
  display: inline-block;
}
.section-color-palette--1 button,
.section-color-palette--1 input[type="button"],
.section-color-palette--1 input[type="reset"],
.section-color-palette--1 input[type="submit"] {
  background-color: #DA4930;
  color: white;
}
.section-color-palette--1 .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.section-color-palette--1 ::-webkit-input-placeholder {
  color: #092a49;
}
.section-color-palette--1 :-moz-placeholder {
  /* Firefox 19- */

  color: #092a49;
}
.section-color-palette--1 ::-moz-placeholder {
  /* Firefox 19+ */

  color: #092a49;
}
.section-color-palette--1 :-ms-input-placeholder {
  color: #092a49;
}
#section--live-boldly a.button {
  margin: 0 auto;
}
#section--about-kenton-beshore button,
#section--about-kenton-beshore input[type="button"],
#section--about-kenton-beshore input[type="reset"],
#section--about-kenton-beshore input[type="submit"] {
  background-color: #f3811a;
  color: white;
}
/* White on Teal Blue */
.section-color-palette--2 {
  background-color: #174e6b;
  color: white;
}
.section-color-palette--2 .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.section-color-palette--2 a {
  color: #f3811a;
}
.section-color-palette--2 a.button {
  color: white;
  background-color: #da4930;
}
.section-color-palette--2 button,
.section-color-palette--2 input[type="button"],
.section-color-palette--2 input[type="reset"],
.section-color-palette--2 input[type="submit"] {
  background-color: #da4930;
  color: white;
}
.section-color-palette--2 ::-webkit-input-placeholder {
  color: #174e6b;
}
.section-color-palette--2 :-moz-placeholder {
  /* Firefox 19- */

  color: #174e6b;
}
.section-color-palette--2 ::-moz-placeholder {
  /* Firefox 19+ */

  color: #174e6b;
}
.section-color-palette--2 :-ms-input-placeholder {
  color: #174e6b;
}
.section-color-palette--2 .subscribe-link {
  color: white;
}
/* White on Tang Orange */
.section-color-palette--3 {
  background-color: #f3811a;
  color: white;
}
.section-color-palette--3 .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.section-color-palette--3 a {
  color: #d75b3b;
}
.section-color-palette--3 a.button {
  color: #f3811a;
  background-color: white;
}
.section-color-palette--3 ::-webkit-input-placeholder {
  color: #f3811a;
}
.section-color-palette--3 :-moz-placeholder {
  /* Firefox 19- */

  color: #f3811a;
}
.section-color-palette--3 ::-moz-placeholder {
  /* Firefox 19+ */

  color: #f3811a;
}
.section-color-palette--3 :-ms-input-placeholder {
  color: #f3811a;
}
/* Teal blue on Chick Yellow */
.section-color-palette--4 {
  background-color: #fff2c6;
  color: #174e6b;
}
.section-color-palette--4 .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.section-color-palette--4 a {
  color: #f3811a;
}
.section-color-palette--4 a.button {
  background-color: #174e6b;
  color: #fff2c6;
}
.section-color-palette--4 input[type="text"],
.section-color-palette--4 textarea {
  background-color: #174e6b;
  color: #fff2c6;
}
.section-color-palette--4 button,
.section-color-palette--4 input[type="button"],
.section-color-palette--4 input[type="reset"],
.section-color-palette--4 input[type="submit"] {
  background-color: #174e6b;
  color: #fff2c6;
}
.section-color-palette--4 ::-webkit-input-placeholder {
  color: #fff2c6;
}
.section-color-palette--4 :-moz-placeholder {
  /* Firefox 19- */

  color: #fff2c6;
}
.section-color-palette--4 ::-moz-placeholder {
  /* Firefox 19+ */

  color: #fff2c6;
}
.section-color-palette--4 :-ms-input-placeholder {
  color: #fff2c6;
}
/* Dark Blue on White */
.section-color-palette--5 {
  background-color: white;
  color: #092a49;
}
.section-color-palette--5 .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.section-color-palette--5 a {
  color: #da4930;
}
.section-color-palette--5 a.button {
  background-color: #092a49;
  color: white;
}
.section-color-palette--5 input[type="text"],
.section-color-palette--5 textarea {
  background-color: #092a49;
  color: white;
}
.section-color-palette--5 button,
.section-color-palette--5 input[type="button"],
.section-color-palette--5 input[type="reset"],
.section-color-palette--5 input[type="submit"] {
  background-color: #092a49;
  color: white;
}
.section-color-palette--5 ::-webkit-input-placeholder {
  color: white;
}
.section-color-palette--5 :-moz-placeholder {
  /* Firefox 18- */

  color: white;
}
.section-color-palette--5 ::-moz-placeholder {
  /* Firefox 19+ */

  color: white;
}
.section-color-palette--5 :-ms-input-placeholder {
  color: white;
}
/* Dark Blue on Lavender */
.section-color-palette--6 {
  background-color: #dce3ef;
  color: #092a49;
}
.section-color-palette--6 .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.section-color-palette--6 a {
  color: #f3811a;
}
.section-color-palette--6 a.button {
  color: white;
  background-color: #092a49;
}
.section-color-palette--6 ::-webkit-input-placeholder {
  color: #dce3ef;
}
.section-color-palette--6 :-moz-placeholder {
  /* Firefox 19- */

  color: #dce3ef;
}
.section-color-palette--6 ::-moz-placeholder {
  /* Firefox 19+ */

  color: #dce3ef;
}
.section-color-palette--6 :-ms-input-placeholder {
  color: #dce3ef;
}
/* White on Punch Red */
.section-color-palette--7 {
  background-color: #da4930;
  color: white;
}
.section-color-palette--7 .site-logo {
  /*background: url(/assets/images/kenton-beshore-logo-white.png);*/
}
.section-color-palette--7 a {
  color: #f3811a;
}
.section-color-palette--7 a.button {
  color: #da4930;
  background-color: white;
}
.section-color-palette--7 input[type="text"],
.section-color-palette--7 textarea {
  background-color: white;
  color: #da4930;
}
.section-color-palette--7 button,
.section-color-palette--7 input[type="button"],
.section-color-palette--7 input[type="reset"],
.section-color-palette--7 input[type="submit"] {
  color: white;
  background-color: #f3811a;
}
.section-color-palette--7 ::-webkit-input-placeholder {
  color: #da4930;
}
.section-color-palette--7 :-moz-placeholder {
  /* Firefox 18- */

  color: #da4930;
}
.section-color-palette--7 ::-moz-placeholder {
  /* Firefox 19+ */

  color: #da4930;
}
.section-color-palette--7 :-ms-input-placeholder {
  color: #da4930;
}
.error-404 {
  text-align: center;
}
/* =Section Layouts
----------------------------------------------- */
.section-layout--two-column-content-right,
.section-layout--two-column-content-left {
  font-family: "brandon-grotesque";
  padding-bottom: 2.5em;
}
.section-layout--two-column-content-right p,
.section-layout--two-column-content-left p {
  font-size: 0.9em;
}
.section-layout--two-column-content-right .section-content,
.section-layout--two-column-content-left .section-content {
  overflow: auto;
}
.section-layout--two-column-content-right .section-secondary,
.section-layout--two-column-content-left .section-secondary {
  text-align: center;
  padding-top: 3em;
}
.section-layout--two-column-content-left {
  text-align: left;
}
.section-layout--two-column-content-right {
  text-align: right;
}
p.section-headline {
  font-family: "brandon-grotesque";
  margin-bottom: 0;
  line-height: 1;
  white-space: nowrap;
}
.section .section-title {
  font-size: 90px;
  font-size: 9.0rem;
  margin-bottom: 30px;
  margin-bottom: 3.0rem;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
}
.section .section-title .title-primary {
  display: inline-block;
  vertical-align: top;
}
.section .section-title .title-secondary {
  display: inline-block;
  font-family: "brandon-grotesque";
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.2;
  padding: 10px 0 0 20px;
  padding: 1.0rem 0 0 2.0rem;
  text-align: left;
  vertical-align: top;
}
.featured-image-banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 500px;
  height: 50rem;
  margin: 0 auto 20px;
  margin: 0 auto 2.0rem;
  max-width: 1088px;
}
.featured-image {
  margin: 0 auto 20px;
  margin: 0 auto 2.0rem;
  max-width: 950px;
}
.section-layout--church {
  background: #d75b3b;
  background-image: url(assets/images/background-church.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.section-layout--watch-kentons-latest .section-primary {
  max-width: 640px;
  margin: 0 auto;
}
.section-layout--watch-kentons-latest .video {
  text-align: center;
  margin-bottom: 30px;
  margin-bottom: 3.0rem;
}
.section-layout--watch-kentons-latest .subscribe-link-group {
  text-align: center;
}
.section-layout--watch-kentons-latest .subscribe-link-group p {
  margin-bottom: 0.5em;
}
.section-layout--watch-kentons-latest .subscribe-link-group .subscribe-link {
  color: #174e6b;
  padding: 0 10px;
  padding: 0 1.0rem;
}
.section-content {
  margin: 0 auto;
  max-width: 1088px;
  padding: 50px 0 30px;
  padding: 5.0rem 0 3.0rem;
}
.section--0 .section-content {
  padding-top: 0;
}
@media screen and (max-width: 1110px) {
  .section-content {
    margin-left: 60px;
    margin-left: 6.0rem;
    margin-right: 60px;
    margin-right: 6.0rem;
  }
}
h1 {
  line-height: 1;
}
.section-title--with-subtitle::before {
  display: block;
  content: attr(data-title);
  font-family: "brandon-grotesque";
  font-size: 2.5em;
  line-height: .8;
  position: absolute;
  left: 0;
}
.section-title--with-subtitle {
  font-size: 2em;
  font-family: "brandon-grotesque";
  letter-spacing: 0;
  padding-left: 10.5em;
  position: relative;
}
.section-title-wrap {
  text-align: center;
}
.section-layout--latest-tweets h1.section-title {
  font-size: 30px;
  font-size: 3.0rem;
  text-align: center;
}
.section-layout--latest-tweets .section-content {
  padding-top: 2.5em;
}
.section-layout--latest-tweets .section-primary {
  overflow: auto;
}
.section-layout--latest-tweets .twitter-link {
  text-align: center;
}
.section-layout--latest-tweets .tweet {
  float: left;
  width: 40%;
  margin: 40px 5%;
  margin: 4.0rem 5%;
  text-align: center;
}
.section-layout--latest-tweets .tweet .tweet-content,
.section-layout--latest-tweets .tweet .tweet-date {
  font-family: "chaparral-pro", sans-serif;
}
.section-layout--today .section-header {
  background-color: #788ba8;
  color: black;
  font-family: "brandon-grotesque";
  font-size: 30px;
  font-size: 3rem;
  padding: 15px;
  padding: 1.5rem;
  text-align: center;
}
.section-layout--today .iphone-outer {
  background-color: #092a49;
  -webkit-border-radius: 60px 60px 0 0;
  -moz-border-radius: 60px 60px 0 0;
  border-radius: 60px 60px 0 0;
  margin: 0 auto;
  padding: 130px 30px 0;
  text-align: center;
  width: 350px;
}
.section-layout--today .iphone-inner {
  background-color: #dce3ef;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 30px;
  width: 290px;
}
.section-layout--today .iphone-inner p {
  font-family: "brandon-grotesque";
  line-height: 1.2em;
  padding: 0.5em 10%;
  position: relative;
  text-align: left;
  width: 70%;
}
.section-layout--today .iphone-inner p:nth-child(odd) {
  background-color: white;
  margin-right: 10%;
}
.section-layout--today .iphone-inner p:nth-child(odd):after {
  position: absolute;
  bottom: -10px;
  left: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid white;
  border-left: 8px solid white;
  border-right: 8px solid transparent;
  content: "";
  z-index: 1000;
}
.section-layout--today .iphone-inner p:nth-child(even) {
  background-color: #a0c2e1;
  margin-left: 10%;
}
.section-layout--today .iphone-inner p:nth-child(even):after {
  position: absolute;
  bottom: -10px;
  right: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid #a0c2e1;
  border-top: 8px solid #a0c2e1;
  border-bottom: 8px solid transparent;
  content: "";
  z-index: 1000;
}
.site-footer {
  font-family: "brandon-grotesque";
  font-size: .75em;
  letter-spacing: .3em;
  padding: 5em 0;
  text-align: center;
  text-transform: uppercase;
}
.site-footer .container {
  margin: 0 auto;
  width: 90%;
}
.site-footer .primary {
  float: left;
}
.site-footer .primary img {
  max-width: 287px;
}
.site-footer .secondary {
  float: right;
}
.site-footer .secondary .contact-info {
  float: left;
  margin: 0.25em 0.75em 0 0;
  text-align: right;
}
.site-footer .secondary .social-media-links {
  font-family: 'Live-Boldly';
  font-size: 50px;
  font-size: 5.0rem;
  float: right;
  line-height: 1;
}
.site-footer .secondary .social-media-links a {
  color: white;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.site-header {
  max-width: 1088px;
  margin: 0 auto;
  padding: 2em 0 1em 1em;
  position: relative;
}
.site-header .site-logo {
  float: left;
  max-width: 301px;
  text-align: center;
}
h1.entry-title a {
  color: black;
}
ul.gform_fields {
  list-style: none;
  margin: 0;
}
.gform_wrapper .gfield_label {
  display: none;
}
.gform_wrapper .ginput_complex label {
  display: none;
}
.gform_wrapper .ginput_card_security_code_icon {
  display: none;
}
.ginput_container span {
  display: block;
  margin-bottom: 1.5em;
}
.ginput_card_expiration_container {
  text-align: center;
}
.ginput_card_expiration_container select {
  margin: 0 1em;
}
.ginput_left {
  display: block;
  float: left;
  width: 47%;
  margin-right: 3%;
}
.ginput_right {
  display: block;
  float: left;
  width: 47%;
  margin-left: 3%;
}
.gfield {
  margin-bottom: 1.5em;
}
.gform_wrapper .gform_card_icon_container {
  margin: 8px 0 6px 0;
  height: 32px;
}
.gform_wrapper div.gform_card_icon {
  margin-right: 4px;
  text-indent: -9000px;
  background-image: url(../../plugins/gravityforms/images/gf-creditcard-icons.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 32px;
  float: left;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa {
  background-position: 0 0;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
  background-position: 0 -32px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
  background-position: 0 -64px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard {
  background-position: -36px 0;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
  background-position: -36px -32px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
  background-position: -36px -64px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex {
  background-position: -72px 0;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
  background-position: -72px -32px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
  background-position: -72px -64px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover {
  background-position: -108px 0;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
  background-position: -108px -32px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
  background-position: -108px -64px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_maestro {
  background-position: -144px 0;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
  background-position: -144px -32px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
  background-position: -144px -64px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_jcb {
  background-position: -180px 0;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
  background-position: -180px -32px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
  background-position: -180px -64px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_visa {
  background-position: 0 -192px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
  background-position: 0 -224px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
  background-position: 0 -256px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_mastercard {
  background-position: -36px -192px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
  background-position: -36px -224px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
  background-position: -36px -256px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_amex {
  background-position: -72px -192px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
  background-position: -72px -224px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
  background-position: -72px -256px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_discover {
  background-position: -108px -192px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
  background-position: -108px -224px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
  background-position: -108px -256px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_maestro {
  background-position: -144px -192px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
  background-position: -144px -224px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
  background-position: -144px -256px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_jcb {
  background-position: -180px -192px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
  background-position: -180px -224px;
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
  background-position: -180px -256px;
}
.section-layout--listen-todays-show .subscribe-link-group {
  text-align: center;
}
.section-layout--listen-todays-show .subscribe-link-group p {
  margin-bottom: 0.5em;
}
.section-layout--listen-todays-show .subscribe-link-group .subscribe-link {
  padding: 0 10px;
  padding: 0 1.0rem;
}
.section-layout--listen-todays-show .section-secondary {
  text-align: center;
}
.section-layout--contact table.contact-method-table td.contact-method-icon {
  font-family: 'Live-Boldly';
  font-size: 65px;
  font-size: 6.5rem;
  height: 65px;
  width: 65px;
  vertical-align: middle;
}
.section-layout--contact table.contact-method-table td.contact-method-icon img {
  max-width: none;
}
.section-layout--contact table.contact-method-table td.contact-method-details {
  font-family: "brandon-grotesque";
  letter-spacing: 3px;
  letter-spacing: 0.3rem;
  padding: 14px;
  text-transform: uppercase;
  vertical-align: middle;
}
.section-layout--contact table.contact-method-table td.contact-method-details a {
  color: white;
}
.back-to-top {
  display: none;
  position: fixed;
  right: .5em;
  top: .5em;
  cursor: pointer;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5) !important;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 1.5em;
  padding: .25em 0 .25em .3em;
  line-height: 0;
}
.back-to-top:before {
  content: '\f432';
  font: normal 28px/1 'Genericons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  position: relative;
  line-height: 1em;
  top: 1px;
}
.archive h1.page-title {
  display: none;
}
.post-type-media-listen #page {
  background-color: #174e6b;
  color: white;
}
.post-type-media-listen #page .site-header {
  padding-bottom: 72px;
  padding-bottom: 7.2rem;
}
.post-type-media-listen #page .site-header .site-logo {
  float: none;
  margin: 0 auto;
}
.post-type-media-listen #page a {
  color: #f3811a;
}
.post-type-media-listen #page p {
  margin-bottom: 0;
}
.post-type-media-listen #page .main-navigation {
  display: none;
}
.post-type-media-listen #page .site-footer {
  display: none;
}
.post-type-media-listen #page .primary {
  font-family: "brandon-grotesque";
}
.post-type-media-listen #page .primary .subscribe-link-group,
.post-type-media-listen #page .primary .media-series {
  font-family: "chaparral-pro", sans-serif;
}
.post-type-media-listen #page .site-main {
  margin: 0 auto;
  max-width: 767px;
  padding: 26px;
  padding: 2.6rem;
}
.post-type-media-listen #page .site-main .primary {
  float: left;
  width: 60%;
  margin-right: 5%;
}
.post-type-media-listen #page .site-main .secondary {
  float: right;
  width: 35%;
  text-align: center;
}
.post-type-media-listen #page .subscribe-link-group {
  margin-bottom: 30px;
  margin-bottom: 3.0rem;
}
.post-type-media-listen #page .subscribe-link-group p {
  margin-bottom: 0.5em;
}
.post-type-media-listen #page .subscribe-link-group .subscribe-link {
  color: white;
  padding: 0 10px;
  padding: 0 1.0rem;
}
.about-widget {
  float: left;
  margin: 0 4.1666666666%;
  text-align: center;
  width: 25%;
}
.about-widget .widget-title {
  font-family: "brandon-grotesque";
  letter-spacing: 5px;
  line-height: 3;
  text-transform: uppercase;
}
.quote-widget {
  overflow: auto;
  margin-bottom: 30px;
  margin-bottom: 3.0rem;
}
.quote-widget .quote-icon {
  background: url('assets/images/quotation-marks.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 150px;
  float: left;
  width: 5%;
}
.quote-widget .quote-text {
  float: left;
  width: 85%;
  margin-left: 5%;
}
.quote-widget .quote-name {
  font-family: "brandon-grotesque";
  margin-top: 20px;
  margin-top: 2.0rem;
}
.section-layout--about .section-primary,
.section-layout--about .section-secondary {
  text-align: center;
}
.section-layout--about .featured-image-banner {
  background: url('assets/images/banner-about.jpg');
  background-attachment: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
.section-layout--about .social-media-links p {
  margin-bottom: .5em;
}
.section-layout--about .social-media-links .twitter-link,
.section-layout--about .social-media-links .facebook-link {
  display: inline-block;
  height: 65px;
  width: 65px;
}
.section-layout--about .social-media-links .twitter-link {
  background-image: url(assets/images/icon-twitter.png);
}
.section-layout--about .social-media-links .facebook-link {
  background-image: url(assets/images/icon-facebook.png);
}
ul.gfield_radio {
  margin: 0 0 1em;
  overflow: auto;
  list-style: none;
}
ul.gfield_radio li {
  float: left;
  width: 50%;
}
ul.gfield_radio label {
  margin-left: 1em;
  text-transform: uppercase;
}
.term-description {
  margin-bottom: 3rem;
  overflow: auto;
}
.term-description .primary {
  float: left;
  width: 47%;
  margin-right: 3%;
}
.term-description .secondary {
  float: right;
  width: 47%;
  margin-left: 3%;
}
.tax-media-series .site-main > hr {
  margin: 0 auto 4.5rem;
  max-width: 950px;
}
/**
  /$$      /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$  /$$$$$$
| $$$    /$$$| $$_____/| $$__  $$|_  $$_/ /$$__  $$
| $$$$  /$$$$| $$      | $$  \ $$  | $$  | $$  \ $$
| $$ $$/$$ $$| $$$$$   | $$  | $$  | $$  | $$$$$$$$
| $$  $$$| $$| $$__/   | $$  | $$  | $$  | $$__  $$
| $$\  $ | $$| $$      | $$  | $$  | $$  | $$  | $$
| $$ \/  | $$| $$$$$$$$| $$$$$$$/ /$$$$$$| $$  | $$
|__/     |__/|________/|_______/ |______/|__/  |__/

  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$ /$$$$$$$$  /$$$$$$
 /$$__  $$| $$  | $$| $$_____/| $$__  $$|_  $$_/| $$_____/ /$$__  $$
| $$  \ $$| $$  | $$| $$      | $$  \ $$  | $$  | $$      | $$  \__/
| $$  | $$| $$  | $$| $$$$$   | $$$$$$$/  | $$  | $$$$$   |  $$$$$$
| $$  | $$| $$  | $$| $$__/   | $$__  $$  | $$  | $$__/    \____  $$
| $$/$$ $$| $$  | $$| $$      | $$  \ $$  | $$  | $$       /$$  \ $$
|  $$$$$$/|  $$$$$$/| $$$$$$$$| $$  | $$ /$$$$$$| $$$$$$$$|  $$$$$$/
 \____ $$$ \______/ |________/|__/  |__/|______/|________/ \______/
      \__/
*/
@media screen and (max-width: 1120px) {
  header {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (min-width: 1045px) {
  .main-navigation {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .main-navigation li {
    margin: 0 1.25em;
    padding: 0.2em 0;
  }
  .section-layout--church {
    background-size: 100% auto;
  }
  .site-header {
    padding: 75px 0 128px 16px;
    padding: 7.5rem 0 12.8rem 1.6rem;
  }
  .site-header .main-navigation {
    margin-bottom: 128px;
    margin-bottom: 12.8rem;
  }
}
@media screen and (max-width: 1045px) {
  .section-layout--church {
    background-size: auto 100%;
  }
}
@media screen and (max-width: 1065px) and (min-width: 769px) {
  .main-navigation {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .main-navigation li {
    margin: 0 1.25em;
    padding: 0.2em 0;
  }
}
@media screen and (min-width: 970px) {
  nav.main-navigation {
    z-index: 0;
  }
  #nav-close-btn {
    display: none;
  }
  .post-type-archive-media nav.main-navigation li a,
  .single-media nav.main-navigation li a,
  .tax-media-series nav.main-navigation li a,
  .tax-media-category nav.main-navigation li a {
    color: #092a49;
  }
  .post-type-archive-media nav.main-navigation li.current_page_item,
  .single-media nav.main-navigation li.current_page_item,
  .tax-media-series nav.main-navigation li.current_page_item,
  .tax-media-category nav.main-navigation li.current_page_item {
    border-color: #092a49;
  }
  .post-type-archive-media p.media-series,
  .single-media p.media-series,
  .tax-media-series p.media-series,
  .tax-media-category p.media-series {
    margin-bottom: 0;
  }
  .site-header {
    padding: 60px 0 128px 16px;
    padding: 6.5rem 0 12.8rem 1.6rem;
  }
  .site-header .main-navigation {
    margin-bottom: 141px;
    margin-bottom: 14.1rem;
  }
}
@media screen and (max-width: 970px) {
  a#nav-close-btn {
    color: #252525;
    display: block;
    margin: 1em 1.5em;
    line-height: 1;
  }
  header {
    padding-top: 0.65em;
  }
  /*
  	using background color is important to cover the menu
  	position absolute isset to cover the whole viewport
  	*/
  #nav-close-btn:before {
    content: "\f405";
    font: normal 28px/1 'Genericons';
    font-weight: normal;
    font-style: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    position: relative;
    line-height: 1em;
    top: 1px;
  }
  #page {
    background-color: white;
    width: auto;
  }
  /*
  	the hamburger button with a little gradient effect
  	*/
  .hamburger {
    background-color: rgba(0, 0, 0, 0.1);
    color: #252525;
    width: 2.8rem;
    height: 1.9rem;
    cursor: pointer;
    display: block;
    padding: 1.5rem 1.3rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .post-type-media-listen .hamburger {
    display: none;
  }
  /*
  	The white stripes in the hamburger button
  	*/
  .hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
  }
  /*
  	Style the header navigation menu
  	*/
  nav.main-navigation {
    background: #eee;
    float: none;
    height: 100%;
    left: 0;
    margin-bottom: 143px;
    margin-bottom: 14.3rem;
    top: 0;
    position: fixed;
    z-index: -1;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  nav.main-navigation ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  nav.main-navigation li {
    background-color: white;
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
  }
  nav.main-navigation li a {
    color: #252525;
    border-bottom: 1px solid #EEE;
    padding: .75em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  /*
  	The Layer that will be layed over the content
  	so that the content is unclickable while menu is shown
  	*/
  #contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
    min-height: 1062px;
  }
  .site-header {
    padding-right: 1em;
  }
  .site-header .site-logo {
    float: none;
    margin: 0 auto;
  }
  .site-footer {
    padding: 2.5em 0;
  }
  .site-footer .primary {
    float: none;
    margin-bottom: 2em;
    width: 100%;
  }
  .site-footer .secondary {
    float: none;
    width: 100%;
  }
  .site-footer .secondary .contact-info {
    float: none;
    width: 100%;
    text-align: center;
  }
  .site-footer .secondary .social-media-links {
    float: none;
    margin-top: 0.5em;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .section-layout--two-column-content-right .section-primary {
    float: right;
    margin: 0 5%;
    width: 40%;
  }
  .section-layout--two-column-content-right .section-secondary {
    float: left;
    margin: 0 10%;
    width: 30%;
  }
  .section-layout--listen-todays-show .section-content {
    overflow: auto;
  }
  .section-layout--listen-todays-show .section-primary {
    float: left;
    margin: 0 3% 0 0;
    width: 47%;
  }
  .section-layout--listen-todays-show .section-secondary {
    float: right;
    margin: 0 0 0 3%;
    width: 47%;
  }
  .section-layout--two-column-content-left .section-primary,
  .section-layout--two-col .section-primary,
  .section-layout--about .section-primary {
    float: left;
    margin: 0;
    width: 50%;
  }
  .section-layout--two-column-content-left .section-secondary,
  .section-layout--two-col .section-secondary,
  .section-layout--about .section-secondary {
    float: right;
    margin: 0;
    width: 50%;
  }
  .section-layout--contact .section-content {
    overflow: auto;
  }
  .section-layout--contact .section-primary {
    float: right;
    margin: 0 5%;
    width: 40%;
  }
  .section-layout--contact .section-secondary {
    float: left;
    margin: 0 5%;
    width: 40%;
  }
  .section-layout--today .section-content {
    padding-bottom: 0;
    overflow: auto;
  }
  .section-layout--today .section-primary {
    float: left;
    width: 60%;
  }
  .section-layout--today .section-secondary {
    float: right;
    margin: 300px 5% 0;
    width: 30%;
  }
  .section-layout--church .section-content {
    overflow: auto;
  }
  .section-layout--church .section-primary {
    float: left;
    width: 50%;
  }
  .site-footer {
    font-family: "brandon-grotesque";
    text-align: center;
    text-transform: uppercase;
    overflow: auto;
  }
  .main-navigation {
    clear: none;
    float: right;
    font-family: "brandon-grotesque", sans-serif;
    letter-spacing: .2em;
    max-width: 786px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    width: auto;
  }
  .main-navigation li.current_page_item {
    border-bottom: .2em solid white;
  }
  .main-navigation li:last-child {
    padding-right: 0;
  }
  .section-color-palette--5 .main-navigation li.current_page_item {
    border-bottom-color: #092a49;
  }
}
@media screen and (max-width: 768px) {
  .section .section-title {
    font-size: 72px;
    font-size: 7.2rem;
  }
  .section .section-title .title-secondary {
    font-size: 26px;
    font-size: 2.6rem;
    padding: 5px 0 0 10px;
    padding: 0.5rem 0 0 1.0rem;
  }
  #kentons-list-modal .section-primary {
    float: none;
    margin: 0;
    width: 100%;
  }
  #kentons-list-modal .section-secondary {
    display: none;
  }
  .section-content {
    margin-left: 26px;
    margin-left: 2.6rem;
    margin-right: 26px;
    margin-right: 2.6rem;
  }
  .section-layout--two-column-content-right .section-primary,
  .section-layout--two-column-content-left .section-primary,
  .section-layout--listen-todays-show .section-primary {
    float: none;
    margin: 0;
    width: 100%;
  }
  .section-layout--two-column-content-right .section-secondary,
  .section-layout--two-column-content-left .section-secondary,
  .section-layout--listen-todays-show .section-secondary {
    display: none;
  }
  .section-layout--contact .section-primary,
  .section-layout--about .section-primary,
  .section-layout--contact .section-secondary,
  .section-layout--about .section-secondary {
    float: none;
    margin: 0;
    width: 100%;
  }
  .about-widget {
    float: left;
    margin: 40px 5%;
    margin: 4.0rem 5%;
    text-align: center;
    width: 40%;
  }
  .about-widget .widget-title {
    font-family: "brandon-grotesque";
    letter-spacing: 5px;
    line-height: 3;
    text-transform: uppercase;
  }
  .about-widget:nth-child(3) {
    float: none;
    margin: 0 auto;
    clear: both;
  }
  .section-layout--latest-tweets .tweet {
    float: none;
    width: 100%;
    margin: 40px auto;
    margin: 4.0rem auto;
    max-width: 50%;
  }
  .section-layout--today .section-primary {
    float: none;
    width: 100%;
    margin: 0;
  }
  .section-layout--today .section-secondary {
    float: none;
    width: 100%;
    margin: 0;
  }
  .section-layout--today .iphone-outer {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;
  }
  .section-layout--today .iphone-inner {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    width: auto;
  }
  .section-layout--today .iphone-inner p {
    font-family: "brandon-grotesque";
    line-height: 1.2em;
    padding: 0.5em 5%;
    position: relative;
    text-align: left;
    width: 45%;
  }
  .section-layout--today .iphone-inner p:nth-child(odd) {
    background-color: white;
    margin-right: 10%;
  }
  .section-layout--today .iphone-inner p:nth-child(odd):after {
    position: absolute;
    bottom: -10px;
    left: 0;
    border-bottom: 8px solid transparent;
    border-top: 8px solid white;
    border-left: 8px solid white;
    border-right: 8px solid transparent;
    content: "";
    z-index: 1000;
  }
  .section-layout--today .iphone-inner p:nth-child(even) {
    background-color: #a0c2e1;
    margin-left: 45%;
  }
  .section-layout--today .iphone-inner p:nth-child(even):after {
    position: absolute;
    bottom: -10px;
    right: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid #a0c2e1;
    border-top: 8px solid #a0c2e1;
    border-bottom: 8px solid transparent;
    content: "";
    z-index: 1000;
  }
  .section-layout--church .section-primary {
    float: none;
    width: 100%;
  }
  .featured-image-banner {
    height: 400px;
    height: 40rem;
  }
  .term-description .primary,
  .term-description .secondary {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .post-type-media-listen #page .site-main .primary {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .post-type-media-listen #page .site-main .secondary {
    display: none;
  }
  .post-type-media-listen #page .download-links {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .post-type-media-listen #page .rss-subscribe-link {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .section .section-title {
    font-size: 60px;
    font-size: 6.0rem;
  }
  .section .section-title .title-secondary {
    font-size: 21px;
    font-size: 2.1rem;
    padding: 5px 0 0 10px;
    padding: 0.5rem 0 0 1.0rem;
  }
  .featured-image-banner {
    height: 300px;
    height: 30rem;
  }
  .site-header {
    padding-top: 5px;
    padding-top: 0.5rem;
    padding-right: 16px;
    padding-right: 1.6rem;
  }
  .site-header .site-logo {
    width: 100%;
    max-width: 100%;
    text-align: right;
  }
  .site-header .site-logo img {
    height: 4.7rem;
  }
}
@media screen and (max-width: 480px) {
  .section .section-title {
    font-size: 52px;
    font-size: 5.2rem;
  }
  .section .section-title .title-secondary {
    font-size: 19px;
    font-size: 1.9rem;
    padding: 5px 0 0 10px;
    padding: 0.5rem 0 0 1.0rem;
  }
  .section-layout--latest-tweets .tweet {
    max-width: 100%;
  }
  [class*="navigation"] .nav-previous,
  [class*="navigation"] .nav-next {
    float: none;
    width: 100%;
  }
}
.single-media h1,
.post-type-archive-media h1,
.tax-media-series h1,
.tax-media-category h1 {
  letter-spacing: 0.1em;
}
.single-media a,
.post-type-archive-media a,
.tax-media-series a,
.tax-media-category a {
  color: #da4930;
}
.single-media a.button,
.post-type-archive-media a.button,
.tax-media-series a.button,
.tax-media-category a.button {
  background-color: #da4930;
  color: white;
}
.single-media .featured-image-banner,
.post-type-archive-media .featured-image-banner,
.tax-media-series .featured-image-banner,
.tax-media-category .featured-image-banner {
  max-width: 950px;
}
.single-media #main > hr,
.post-type-archive-media #main > hr,
.tax-media-series #main > hr,
.tax-media-category #main > hr {
  margin: 0 auto 4.5rem;
  max-width: 950px;
}
.page-id-7 .gform_wrapper {
  margin: 0 auto;
  max-width: 640px;
}
@font-face {
  font-family: 'Live-Boldly';
  src: url('assets/fonts/Live-Boldly-Fonts.eot');
  src: url('assets/fonts/Live-Boldly-Fonts.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Live-Boldly-Fonts.woff') format('woff'), url('assets/fonts/Live-Boldly-Fonts.ttf') format('truetype'), url('assets/fonts/Live-Boldly-Fonts.svg#Live-Boldly-Fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Live-Boldly';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-untitled,
.icon-untitled-2,
.icon-untitled-3,
.icon-untitled-4,
.icon-untitled-5,
.icon-untitled-6,
.icon-untitled-7,
.icon-untitled-8,
.icon-untitled-9,
.icon-untitled-10,
.icon-untitled-11,
.icon-untitled-12,
.icon-untitled-13,
.icon-untitled-14,
.icon-untitled-15,
.icon-untitled-16,
.icon-untitled-17,
.icon-untitled-18,
.icon-untitled-19,
.icon-untitled-20,
.icon-untitled-21,
.icon-untitled-22 {
  font-family: 'Live-Boldly';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-untitled:before {
  content: "\61";
}
.icon-untitled-2:before {
  content: "\62";
}
.icon-untitled-3:before {
  content: "\63";
}
.icon-untitled-4:before {
  content: "\64";
}
.icon-untitled-5:before {
  content: "\65";
}
.icon-untitled-6:before {
  content: "\66";
}
.icon-untitled-7:before {
  content: "\67";
}
.icon-untitled-8:before {
  content: "\68";
}
.icon-untitled-9:before {
  content: "\69";
}
.icon-untitled-10:before {
  content: "\6a";
}
.icon-untitled-11:before {
  content: "\6b";
}
.icon-untitled-12:before {
  content: "\6c";
}
.icon-untitled-13:before {
  content: "\6d";
}
.icon-untitled-14:before {
  content: "\6e";
}
.icon-untitled-15:before {
  content: "\6f";
}
.icon-untitled-16:before {
  content: "\70";
}
.icon-untitled-17:before {
  content: "\71";
}
.icon-untitled-18:before {
  content: "\72";
}
.icon-untitled-19:before {
  content: "\73";
}
.icon-untitled-20:before {
  content: "\74";
}
.icon-untitled-21:before {
  content: "\75";
}
.icon-untitled-22:before {
  content: "\76";
}
.tax-media-category .page-header,
.post-type-archive-media .page-header {
  padding-bottom: 128px;
  padding-bottom: 12.8rem;
}
.tax-media-category .term-description .primary,
.post-type-archive-media .term-description .primary {
  color: #092a49;
  font-family: 'Live-Boldly';
  font-size: 240px;
  line-height: 1em;
  text-align: center;
}
.tax-media-category input[type="text"],
.post-type-archive-media input[type="text"] {
  border: 1px solid #404040;
}
.tax-media-category input[type="submit"],
.post-type-archive-media input[type="submit"] {
  background-color: #da4930;
  color: white;
}
h1.extra-large {
  font-size: 72px;
  font-size: 7.2rem;
  letter-spacing: 0;
}
article.media .entry-header .entry-title {
  clear: none;
}
article.media .entry-header .media-type {
  color: #092a49;
  font-family: 'Live-Boldly';
  float: right;
  font-size: 70px;
  line-height: 1em;
  width: 70px;
}
article.media .entry-header .media-type a {
  color: #092a49;
}
.paging-navigation {
  overflow: auto;
  margin: 64px 0;
  margin: 6.4rem 0;
}
.paging-navigation a {
  color: #092a49;
  font-family: "brandon-grotesque";
  line-height: 1;
  text-transform: uppercase;
}
.paging-navigation a span {
  vertical-align: middle;
}
.paging-navigation a .meta-nav {
  text-transform: none;
  font-family: 'Live-Boldly';
  font-size: 50px;
  line-height: 1;
  vertical-align: middle;
}
.single-media a {
  color: #da4930;
}
.single-media .listen-button {
  margin-top: 32px;
  margin-top: 3.2rem;
}
.single-media .download-links {
  font-family: "brandon-grotesque";
  font-size: 30px;
  font-size: 3.0rem;
  margin-bottom: 32px;
  margin-bottom: 3.2rem;
  line-height: 1.0909090909;
}
.single-media .download-links p {
  margin-bottom: 0;
}
.single-media .subscribe {
  margin-bottom: 32px;
}
.single-media .subscribe .subscribe-link {
  font-family: 'Live-Boldly';
  font-size: 80px;
  line-height: 1em;
}
.single-media .message-summary,
.single-media .review-and-rate,
.single-media .share-this-podcast,
.single-media .music-for-live-boldly,
.single-media .email-this-podcast {
  margin-bottom: 32px;
  margin-bottom: 3.2rem;
}

.single-media .share-this-podcast {align: center;}

.single-media .review-and-rate {
  background-color: #E9E9E7;
  padding: 20px;
  text-align: center;
}
.single-media .review-and-rate hr {
  background-color: white;
  margin: .5em auto;
  width: 80%;
}
.single-media .review-and-rate p {
  margin-bottom: 0;
}
.single-media .comments-link a {
  color: #404040;
}
.single-media .video {
  max-width: 950px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-bottom: 3.0rem;
  text-align: center;
}
.single-media input[type="text"] {
  border: 1px solid #404040;
  max-width: 400px;
}
.single-media input[type="submit"] {
  background-color: #da4930;
  color: white;
}
.youtube-subscribe-link,
.vimeo-subscribe-link,
.itunes-subscribe-link,
.stitcher-subscribe-link,
.rss-subscribe-link {
  font-family: 'Live-Boldly';
  font-size: 80px;
  line-height: 1em;
}
.media-category-7 .entry-header {
  margin-bottom: 30px;
  margin-bottom: 3.0rem;
}
